.box {
margin: 30px 25%;
border: 1px solid #000; 
width: 50%;



}

/* top i w prawo jak w zegarku

jezeli dam dwie wartosci to dotycza gory i dolu oraz bokow

jezeli dam trzy to czwarty bedzie odpowiadal drugiemu - dopasuje sie



auto - srodek*/