#circle-1{
width: 400px;
height: 400px;
position: absolute;
background-color: red;
border-radius: 200px;
top: 50px;
left: 50px;
opacity: 0.8;
text-align: center;
}


/*opacity 1 -calosc, 0-przezroczysty*/

#circle-2{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(200,100,200,1);
    border-radius: 200px;
    top: 250px;
    left: 150px;
    text-align: center;
    }
    #circle-3{
        width: 400px;
        height: 400px;
        position: absolute;
        background: rgba(200,200,100,0.3);      border-radius: 200px;
        top: 50px;
        left: 250px;
        text-align: center;
        }